{% extends './admin/base.html' %}
{% block title %} Add Account {% endblock title %}
{% block content %}
<div class = "jumbotron">

    <h1>
    Ajouter un compte
    </h1>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class = "col-sm-4 offset-4">
            <div class="form-group">
                {{form.nom.label}}
                {{ form.nom (class = "form-control") }}
            </div>
            <div class="form-group">
                {{form.telephone.label}}
                {{ form.telephone(class = "form-control") }}
            </div>
            
            <div class="form-group">
                {{form.etat.label}}
                {{ form.etat (class = "form-control") }}
            </div>
            
            <div class="form-group">
                {{ form.submit (class = "btn btn-primary mt-5") }}
            </div>

            

        </div>
    </form>
 
</div>
{% endblock content %}