{% extends './admin/base.html' %}

{% block title %} Account List {% endblock title %}

{% block content %}

<div class = "jumotron">
    <p>
        <table class="table table-striped">
            <thead class = "thead-dark">
                <tr>
                    <th>Numero</th>
                    <th>Nom Proprietaire</th>
                    <th>Numero Proprietaire</th>
                    <th>Solde</th>
                    <th>Etat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td scope="row">Nom </td>
                    <td>Prenom</td>
                    <td>Age</td>
                    <td>Mail</td>
                    <td>Etat</td>
                    <td class = "">
                        <a class="btn btn-sm btn-outline-primary" href="#">Edit</a> |
                        <a class="btn btn-sm btn-outline-warning" href="#">Delete</a>
                        <a></a>
                    </td>
                </tr>
               
                
            </tbody>
        </table>
    </p>
</div>

{% endblock content %}